<h1>Authors Form</h1>
<table border = "1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for author in authors %}
            <tr>
                <td>{{author.id}}</td>
                <td>{{author.username}}</td>
                <td>{{author.email}}</td>
                <td><a href="{{path("update",{'id':author.id})}}">edit</a>
                    <a href="{{path("delete",{'id':author.id})}}">delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>